<CustomActionBar [title]="title"></CustomActionBar>

<GridLayout class="page page-content">
    <TabView
    ng-if="viewLoaded"
    [(ngModel)]="tabSelectedIndex"
    class="main" tabBackgroundColor="#3A53FF" androidSelectedTabHighlightColor="#FFF" tabTextColor="#FFF" selectedTabTextColor="#FFF"
    tabTextFontSize="14" androidOffscreenTabLimit="1" (selectedIndexChanged)="onSelectedIndexChanged($event)">
        <ng-container *ngFor="let category of categories">
            <StackLayout *tabItem="{title: category.name}">
                <StackLayout>
                    <NewsList [items]="articles[category.id]" *ngIf="isCategoryLoaded(category.id)" (load)="loadMoreArticles($event)"
                    [category]="category.id"></NewsList>
                </StackLayout>
            </StackLayout>
        </ng-container>
    </TabView>

    <ActivityIndicator [busy]="!viewLoaded" width="50" height="50" class="activity-indicator" [visibility]="listLoaded ? 'collapse' : 'visible'"></ActivityIndicator>
</GridLayout>
