<GridLayout>
    <ScrollView (scroll)="onScroll($event)" *ngIf="viewLoaded">
        <StackLayout *ngIf="article" [minHeight]="minHeight">
            <GridLayout #imageContainer backgroundColor="#000000" class="header-background-view"
            class="article-header">
                <FrescoDrawee #image verticalAlignment="center"
                    placeholderImageUri="res://ns_logo"
                    aspectRatio="2"
                    [imageUri]="imageUrl"></FrescoDrawee>
            </GridLayout>

            <GridLayout #articleLayout rows="auto,auto,auto,auto" columns="auto,auto,*"
                class="article-content">

                <Label #title colSpan="3" textWrap="true" [text]="article.titulo" class="article-name"></Label>

                <StackLayout #articleStat row="1" col="2" orientation="horizontal">
                    <Label [text]="article.autor_nome" class="article-stat-label"></Label>
                </StackLayout>

                <HtmlView [html]="article.introducao" #articleDescription row="2" colSpan="3" textWrap="true" [text]="article.introducao"
                class="article-description"></HtmlView>

                <StackLayout row="3" colSpan="3">
                    <Button class="btn btn-primary btn-active" id="button" text="Ler mais" (tap)="loadContent()" *ngIf="!isLoaded"></Button>
                    <WebView *ngIf="isLoaded" [src]="article.conteudo_noticia" #articleBody textWrap="true"
                    class="article-description"></WebView>
                </StackLayout>
            </GridLayout>
        </StackLayout>
    </ScrollView>

    <GridLayout #dockedLabelContainer verticalAlignment="top" height="48" [opacity]="dockedLabelOpacity" class="docked-label-container" *ngIf="article">
        <Label [text]="article.titulo" [opacity]="dockedLabelTextOpacity" class="docked-label-text"></Label>
    </GridLayout>

    <ActivityIndicator [busy]="!isLoaded" width="50" height="50" class="activity-indicator" [visibility]="viewLoaded ? 'collapse' : 'visible'"></ActivityIndicator>
</GridLayout>
